<!doctype html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./styles.css">
</head>

<body>

<div class="header_container">
    <h1 class="header" onclick="goHome()">Books</h1>

    <form action="/logout" method="POST">
        <button type="submit">logout</button>
    </form>
</div>

<h2>Admin panel</h2>
<form th:action="@{/admin/books/add}" method="POST">

    <label for="title">
        Title
        <input type="text" id="title" name="title" required>
    </label>
    <br>

    <label for="author">
        author
        <input type="text" id="author" name="author" required>
    </label>
    <br>

    <label for="releaseYear">release year:</label>
    <input type="text" id="releaseYear" name="releaseYear">
    <br>

    <label for="price">price:</label>
    <input type="text" id="price" name="price">
    <br>

    <input type="submit" value="Submit">
</form>

<h2>Update Book</h2>

<form th:action="@{/admin/books/update}" method="POST">

    <label for="bookId">Title:</label>
    <input type="text" id="bookId" name="id" required>
    <br>

    <label for="bookPrice">price:</label>
    <input type="text" id="bookPrice" name="price">
    <br>

    <input type="submit" value="Submit">
</form>

<script src="./script.js"></script>

</body>
</html>
